@import 'styles/variables';

.wrapper{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-y: hidden;
  gap: 24px;
  margin-top: 60px;
  border-radius: 16px 16px 0 0;

  &::-webkit-scrollbar{
    display: none;
  }
}